[user]
	name = Paul Serby
	email = serbypau@amazon.com

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit
	co = checkout
	st = status
	br = branch
	pl = pull --ff-only
	mg = merge --ff-only
	my = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --reverse --all --since=1.month.ago --author='Paul Serby'
	prompt = true

[core]
    ignorecase = false
	excludesfile = ~/.gitignore_global

[push]
	default = current
	followTags = true

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"

[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
