[user]
	name = Paul Serby
	email = paul.serby@clock.co.uk

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit
	co = checkout
	st = status
	br = branch
	pl = pull --ff-only
	mg = merge --ff-only
	my = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --reverse --all --since=1.month.ago --author='Paul Serby'
	prompt = true

[core]
    ignorecase = false
	excludesfile = /Users/serby/.gitignore_global

[push]
	default = current
	followTags = true

[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[difftool]
	prompt = true

[mergetool]
[merge]
	tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/serby/.stCommitMsg
